[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask = "*"
"fake-useragent" = "*"
icalendar = "*"
lxml = "*"
requests = "*"
uwsgi = "*"
pyatom = "*"
pytz = "*"


[dev-packages]
"flake8" = "*"
honcho = "*"